<br>
<div class="card-columns" *ngIf="isValid">
  <div class="card" *ngFor="let card of (cards |filter :data)">
    <img class="card-img-top" src="{{card.image_link}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{card.brand}}</h4>
      <h5 >{{card.name}}</h5>
      <p class="card-text">MYR{{card.price| number : '1.2-2'}}</p>
      <s>MYR {{card.ori | number : '1.2-2'}}</s>
      <select  #selectElem class="form-control" id="sel1" >
        <option *ngFor="let num of card.buyQuantity" [selected]="card.buyQuantity == 1" [value]="num">{{num}}</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="buy(content,card,selectElem.value,'Malaysia')">Default</button>
    </div>

  </div>
  
</div>


<ng-template #content let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h4 class="modal-title"><b>{{selectedData.brand}}</b>-
    {{selectedData.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  		<div class="row">
	  		
	  		<div class="form-inline" >
	  			<label>Retriver Country:</label>
	  			<select  #selectCountry class="form-control" id="country" (change)="onKey($event,selectCountry.value)">
			        <option>Malaysia</option>
			        <option>Singapore</option>
			        <option>Brunei</option>
			    </select>
			</div>
	    </div>
	    <br>
        <div class="row">
                        <div class="col-4">
                            <img src="{{selectedData.image_link}}" class="img-responsive" alt="a" style="width:100%">
                        </div>
                        <div class="col-8">
          
                          
                        <ngb-tabset>
						  <ngb-tab>
						  <ng-template ngbTabTitle>Description</ng-template>
						    <ng-template ngbTabContent>
						      <p>{{selectedData.description}}</p>
						      
						      <div *ngIf="selectedData.product_colors.length>0">
						      Colour:
						      	<div *ngFor="let colour of selectedData.product_colors">
						      		<div class="color-box" [ngStyle]="{background:colour.hex_value}">{{colour.colour_name}} </div>
						      	</div>
						      </div>
						    </ng-template>
						  </ngb-tab>
						  <ngb-tab>
						    <ng-template ngbTabTitle>Order</ng-template>
						    <ng-template ngbTabContent>
						    	<table class="table">
								  <thead>
								    <tr>
								      <th scope="col">Unit Price</th>
								      <th scope="col">Quantity</th>
								      <th scope="col">Total</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td><s>MYR{{selectedData.ori| number : '1.2-2'}}</s><br>MYR{{selectedData.price| number : '1.2-2'}}</td>
								      <td>{{selectedData.quantityOd}}</td>
								      <td>MYR{{cost| number : '1.2-2'}}</td>
								    </tr>
								  </tbody>
								</table>
								<div class="row">
									
								</div>
								<label for="name">Promo code:</label>
								<input id="name" (keyup)="onKey($event,selectCountry.value)"><br>
								Shipping Fee: MYR{{shipping| number : '1.2-2'}}<br>
								Discount: -MYR{{discount| number : '1.2-2'}}<br>
								Total: MYR{{total| number : '1.2-2'}}
						    </ng-template>
						  </ngb-tab>
						</ngb-tabset>
          				</div>
        </div>
   </div>
  <div class="modal-footer">
  	<button type="button" class="btn btn-outline-dark" (click)="c('Buy')">Buy</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>