/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
footer{
	
	position: absolute;
	
	bottom: 0px;
	width: 100%;
	background: #3E3F3A;
	color: #fff
}
footer a {
	color:#ffaf18;
}
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 90vh;
      position: relative;
    }

@media screen and (max-width: 722px) {
    .sidenav{
    	display: none;
    	height: 60vh
    }
    .mainthing{
		height: 60vh;
		overflow-x: scroll;
	}	
    h1{font-size: 1.5rem}
    h3{font-size: 1rem}
    p{font-size: 0.9rem}
    h5{font-size:0.6rem;}
    footer{font-size: 0.6rem;}
}
@media screen and (max-width: 450px) {
    .sidenav{
      display: none;
      height: 60vh
    }
    .mainthing{
    height: 60vh;
    overflow-x: scroll;
  } 
    h1{font-size: 1.1rem}
    h3{font-size: 0.6rem}
    p{font-size: 0.5rem}
    h5{font-size:0.2rem;}
    footer{font-size: 0.2rem;}
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.mainthing{
	height: 90vh;
	overflow-x: scroll;
}